#produtosrifles{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-left: 125px;
    padding-left: 5px;
}
#produtosfacas{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-left: 125px;
    padding-left: 5px;
}