h1{
    font-size: 70px;
    font-style: italic;
    color: white;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

p{
    font-size: 30px;
    font-style: italic;
    color: white;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

.imgdodev{
    width: 200px;
    height: 200px;
    border-radius: 800px;
}
.tablecenter{
    padding-bottom: 90px;

}
.tablecenter tr td{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.tablecenter caption{
    padding-bottom: 30px;
}

.tablecenter tr td img:hover{
    width: 210px;
    height: 210px;
    transition: 0.5s;
}