*{
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-color: #62bbd2;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 84%;
    height: 100%;
    margin-left: 8%;
    margin-right: 8%;
    display: grid;
    background-color: black;
    background-attachment:fixed;
    padding-top: 50px;
}

#espaco{
    height: 6rem;
}

#cabecudo{
    background-color: black;
    display: flex;
    position: absolute;
    padding: 20px 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#cabecudo p{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#imgcabecudo {
    height: 80px;
    width: 250px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

#navbar li a:hover,
#navbar li a.ativo{
    transition: 0.5s;
    color: #62bbd2;
}
#navbar li a.ativo::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #62bbd2;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#navbar a button{
    background-color: black;
    border-style: groove;
    border-radius: 50px;
    padding: 5px 10px;
    border-color: white;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#navbar a button:hover,
#navbar a button.ativo{
    transition: 0.5s;
    color: #62bbd2;
    border-color: #62bbd2;
}
#navbar a button.ativo::after{
    color: #62bbd2;
    border-color: #62bbd2;
}

#busca {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.search-box {
    position: absolute;
    right: 30%;
    transform: translate(0%, -50%);
    background: black ;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: black;
}

::-webkit-scrollbar-track{
    background-color: #232C3B;
}


::-webkit-scrollbar{
    width: 6px;
    background: #F4F4F4
}

::-webkit-scrollbar-thumb {
    background: #3eb9f1;
    border-radius: 0;
}

.preco {
    color: white;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}
span{
    color: white;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}
.produtosdisplay{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding-left: 5px;
}
.produtos{
    box-shadow: 2px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    background-color: #62bcd2b4;
    margin: 50px auto;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 300px;
    max-height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
.produtos{
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
}
.produtos img{
    padding-top: 30px;
    width: 280px;
    height: 110px;
    display: block;
}
.produtos .skin {
    color: white;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.produtos .preco { 
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 0 20px 20px 20px;
    margin-right:;
} /* EU (VITOR) AINDA VOU TERMINAR O CSS DOS CARDS DO PRODUTOS <3 */

.telalogin{
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%)scale(1);
    width: 380px;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.telalogin.active{
    opacity: 1;
    transform: translate(-50%,-50%)scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.telalogin .botaofecha{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.telalogin .formulario h2{
    text-align: center;
    color: black;
    margin: 10px 0px 20px;
    font-size: 20px;
}
.telalogin .formulario .dadosdoform{
    margin: 15px 0px;
}
.telalogin .formulario .dadosdoform label{
    font-size: 14px;
    color: black;
}
.telalogin .formulario .dadosdoform input[type="text"],
.telalogin .formulario .dadosdoform input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.telalogin .formulario .dadosdoform input[type="checkbox"]{
    margin-right: 5px;
}
.telalogin .formulario .dadosdoform button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.telalogin .formulario .dadosdoform a{
    display: block;
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    color: #62bbd2;
    font-weight: 600;
}
.mnsgerror{
    text-align: center;
    color: red;
    background-color: rgb(255, 185, 185);
    padding: 10px;
    border-radius: 4px;
    display: none;
}