*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-attachment: fixed;
    background-color: #62bbd2;
    width: 100%;
    height: 100%;
}

#cabecudo{
    background-color: black;
    display: flex;
    position: absolute;
    padding: 20px 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#imgcabecudo {
    height: 80px;
    width: 250px;
    margin-left: 40px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

#navbar li a:hover,
#navbar li a.ativo{
    transition: 0.5s;
    color: #62bbd2;
}
#navbar li a.ativo::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #62bbd2;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#busca {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    background: black ;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: black;
}

::-webkit-scrollbar-track{
    background-color: #232C3B;
}


::-webkit-scrollbar{
    width: 6px;
    background: #F4F4F4
}


::-webkit-scrollbar-thumb {
    background: #3eb9f1;
    border-radius: 0;
}

p{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
